:root {
    --cor-base: #c93;
    --cor-base-light: #d0ab62;
    --cor-secundaria: #dccf70;
}

/*Selo Ebit*/

@media only screen and (max-width: 640px) and (min-width: 320px) {
#boxLight {
    width: 100% !important;
    background-size: contain !important;
  }
}

img[Attributes Style], .buy-area .pix .icon-payment {
    width: 40px !important;
}
