.cart-loading > a {
                        pointer-events: none;
                    }

                    .is-tablet-mobile .carrinho-ctn .carrinho-rapido.loading:after {
                        content: '';
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        display: inline-block;
                        border-top: 3px solid #999;
                        border-right: 3px solid transparent;
                        box-sizing: border-box;
                        animation: rotation 0.8s linear infinite;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: 0;
                        right: 0;

                    }

                    @keyframes rotation {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }  #header-react-app .menu-open {
                        transform: translate(0, 0);
                        -webkit-transform: translate(0, 0);
                    }

                    #header-react-app .menu-closed {
                        transform: translate(-102%, 0);
                    }