.espaco-maior{
    padding: 0px;
}
.espaco-maior .img-principal {
    padding: 0px;
}
.vitrine ul.product-list li a {
    margin: 0px 10px 20px 10px;
}
/*
.menu-list-49 {
    background: #fff !important;
    color: #fff;
}
*/